<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
        <title>Star Admin Free Bootstrap-4 Admin Dashboard Template</title>
        <base
        href="view/">

        <!-- plugins:css -->
        <link href="vendors/iconfonts/mdi/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="vendors/css/vendor.bundle.base.css" rel="stylesheet">
        <link href="vendors/css/vendor.bundle.addons.css" rel="stylesheet">
        <!-- endinject -->
        <!-- plugin css for this page -->
        <!-- End plugin css for this page -->
        <!-- inject:css -->
        <link
        href="css/style.css" rel="stylesheet"> <!-- endinject -->
        <link href="images/favicon.png" rel="shortcut icon" />

    </head>

    <body>
        <div class="container-scroller">
            {% include "partial/navbar.html" %}

            <div class="container-fluid page-body-wrapper">

                {% include "partial/sidebar.html" %}
                <div class="main-panel">
                    <div class="content-wrapper">

                        {% block content %}

                            <h1>
                                Base sono il genitore

                            </h1>

                        {% endblock %}


                    </div>
                    <!-- content-wrapper ends -->
                    {% include "partial/footer.html" %}
                </div>
                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>
        <!-- container-scroller -->
        <!-- plugins:js -->
        <script src="vendors/js/vendor.bundle.base.js">



</script>
        <script src="vendors/js/vendor.bundle.addons.js">



</script>
        <!-- endinject -->
        <!-- Plugin js for this page-->
        <!-- End plugin js for this page-->
        <!-- inject:js -->
        <script src="../../js/off-canvas.js">
</script>
        <script src="../../js/misc.js">



</script>
        <!-- endinject -->
        <!-- Custom js for this page-->
    <!-- End custom js for this page-->

<script src="js/tabella_utenti.js"></script></body></html>