<!-- partials/sidebar.html -->

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <div class="nav-link">
                <div class="user-wrapper">
                    <div class="profile-image">
                        <img alt="profile image" src="images/faces/face1.jpg">
                    </div>
                    <div class="text-wrapper">
                        <p class="profile-name">Richard V.Welsh</p>
                        <div>
                            <small class="designation text-muted">Manager</small>
                            <span class="status-indicator online"></span>
                        </div>
                    </div>
                </div>
                <!-- <button class="btn btn-success btn-block">New Project
                                                                                                                                                                                                                                                                                                                                                                                <i class="mdi mdi-plus"></i>
                                                                                                                                                                                                                                                                                                                                                                            </button> -->
            </div>
        </li>


        <li class="nav-item">
            <a aria-controls="auth" aria-expanded="false" class="nav-link" data-toggle="collapse" href="#auth">

                <i class="menu-icon mdi mdi-account"></i>
                <span class="menu-title">Gestione utenti</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ link('gestione_utenti','tutti') }}">tutti gli utenti
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pagine/utenti_abilitati.html">
                            abilitati
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pagine/utenti_disabilitati.html">
                            disabilitati</a>
                    </li>
                    <!-- <li class="nav-item">
                                                                                                                                                                                                                                                                                                                                                                                                                                <a class="nav-link" href="pages/samples/register.html"> Register </a>
                                                                                                                                                                                                                                                                                                                                                                                                                            </li>
                                                                                                                                                                                                                                                                                                                                                                                                                            <li class="nav-item">
                                                                                                                                                                                                                                                                                                                                                                                                                                <a class="nav-link" href="pages/samples/error-404.html"> 404 </a>
                                                                                                                                                                                                                                                                                                                                                                                                                            </li>
                                                                                                                                                                                                                                                                                                                                                                                                                            <li class="nav-item">
                                                                                                                                                                                                                                                                                                                                                                                                                                <a class="nav-link" href="pages/samples/error-500.html"> 500 </a>
                                                                                                                                                                                                                                                                                                                                                                                                                            </li> -->
                </ul>
            </div>
        </li>
    </ul>
</nav>

<!-- partial -->